---
import { Image } from "astro:assets";
import one from "../../images/gallery_one.webp";
import two from "../../images/gallery_two.webp";
import three from "../../images/gallery_three.webp";
import four from "../../images/gallery_four.webp";
import five from "../../images/gallery_five.webp";
import "lite-youtube-embed/src/lite-yt-embed.css"
---
<script is:inline src="/scripts/lite-yt-embed.js"></script>

<section class="grid grid-cols-3 gap-4 p-4 mb-20"> 
    <div class="rounded-lg overflow-hidden shadow-lg">
      <Image
        src={one}
        alt="img"
        class="h-full w-full object-cover"
      />
    </div>

    <div class="rounded-lg overflow-hidden shadow-lg">
      <lite-youtube
        videoid="1J3SqW7Lia4"
        playlabel="Reproducir: Introducci칩n a La c치mara de la gente"
        title="Introducci칩n a la c치mara de la gente"
        class="w-full h-full"
      ></lite-youtube>
    </div>

    <div class="rounded-lg overflow-hidden shadow-lg">
      <Image
        src={two}
        alt="img"
        class="h-aufull w-full object-cover"
      />
    </div>

    <div class="rounded-lg overflow-hidden shadow-lg">
      <Image
        src={three}
        alt="img"
        class="h-full w-full object-cover"
      />
    </div>

    <div class="rounded-lg overflow-hidden shadow-lg">
      <Image
        src={four}
        alt="img"
        class="h-full w-full object-cover"
      />
    </div>
    <div class="rounded-lg overflow-hidden shadow-lg">
      <Image
        src={five}
        alt="img"
        class="h-full w-full object-cover"
      />
    </div>
</section>
