---
import { Image } from "astro:assets";
import one from "../../images/gallery_one.webp";
import two from "../../images/gallery_two.webp";
import three from "../../images/gallery_three.webp";
import four from "../../images/gallery_four.webp";
import five from "../../images/gallery_five.webp";
import "lite-youtube-embed/src/lite-yt-embed.css"
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.currentLocale as string);
const t = useTranslations(lang);
---
<script is:inline src="/scripts/lite-yt-embed.js"></script>

<section class="grid grid-cols-3 gap-4 p-4 mb-20 lg:mb-40"> 
    <div class="rounded-lg overflow-hidden shadow-lg">
      <Image
        src={one}
        alt="img"
        class="h-full w-full object-cover"
      />
    </div>

    <div class="rounded-lg overflow-hidden shadow-lg">
      <lite-youtube
        videoid={t('home.media.video.id')}
        playlabel="Reproducir: Introducción a La cámara de la gente"
        title={t('home.media.title')}
        class="w-full h-full"
      ></lite-youtube>
    </div>

    <div class="rounded-lg overflow-hidden shadow-lg">
      <Image
        src={two}
        alt="img"
        class="h-aufull w-full object-cover"
      />
    </div>

    <div class="rounded-lg overflow-hidden shadow-lg">
      <Image
        src={three}
        alt="img"
        class="h-full w-full object-cover"
      />
    </div>

    <div class="rounded-lg overflow-hidden shadow-lg">
      <Image
        src={four}
        alt="img"
        class="h-full w-full object-cover"
      />
    </div>
    <div class="rounded-lg overflow-hidden shadow-lg">
      <Image
        src={five}
        alt="img"
        class="h-full w-full object-cover"
      />
    </div>
</section>
